// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index ================================ */
.categories-index-container {
  display: flex;
  flex-direction: column;
}

.categories-index-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  border-bottom: solid 1px #8e8e8e;
}

.categories-index-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories-index-item {
  width: 50%;
  background-color: azure;
  margin-bottom: 20px;
  color: #232323;
  background: #fff8e8;
  border-left: solid 10px #ffc06e;
  padding: 0.5em 1em;

  &-category_name {
    font-size: 30px;
    font-weight: 600;
  }

  &-category_name a {
    color: #222222;
    text-decoration: none;
    transition: all 0.3s;
  }

  &-category_name a:visited {
    color: #222222;
    text-decoration: none;
  }

  &-category_name a:hover {
    text-decoration: none;
    letter-spacing: 0.15em;
    color: #888888;
  }
}

/* show ================================ */
.categories-show-container {
  display: flex;
  flex-direction: column;
}

.categories-show-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  border-bottom: solid 1px #8e8e8e;
}
.categories-show-topics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories-show-topic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  background-color: azure;
  margin-bottom: 20px;
  color: #232323;
  background: #fff8e8;
  border-left: solid 10px #ffc06e;
  padding: 0.5em 1em;

  &-title {
    font-size: 25px;
    font-weight: 700;
  }

  &-title a {
    color: #222222;
    text-decoration: none;
    transition: color 0.5s;
  }

  &-title a:visited {
    color: #222222;
    text-decoration: none;
  }

  &-title a:hover {
    color: #888888;
    text-decoration: none;
  }

  &-created_at {
    font-weight: 300;
  }
}
