// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* top ================================ */
.homes-top {
  text-align: center;
  background-image: url(top_background.jpg);
  background-size: contain;
  height: 100vh;
}

.top-message {
  color: white;
}

/* about ================================ */
.about-message {
  text-align: center;
}
