<div class="main categories-index">
    <div class="container">
        <div class ="categories-index-title">
            <h1>カテゴリから探す</h1>
        </div>
        <% @categories.each do |category| %>
            <div class="categories-index-item">
                <%= category.category_name %>
            </div>
        <% end %>
    </div>
</div>