<div class="main categories-index">
    <div class="container categories-index-container">
        <div class ="categories-index-title">
            <div>カテゴリから探す</div>
        </div>
        <div class="categories-index-items">
            <% @categories.each do |category| %>
                <div class="categories-index-item">
                    <div class="categories-index-item-category_name">
                        <%= link_to(category.category_name, "/categories/#{category.id}") %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
